/*Colores*/
:root{
    --colorTextoBlanco:#ffffff;
    --colorBlancoSuave:rgba(255, 255, 255,0.2);
    --colorTextoNegro:#000000;
    --colorInicial:rgba(65, 128, 175,0.3);
    --colorSecond:#86D597;
    --colorInicialOpaco:#153658;
}
.parte1_texto{
    color:var(--colorTextoBlanco);
    font-size:1em;
    text-align:start;
}
.seccion-quienes-somos{
display:flex;
justify-content:space-between;
align-items:center;
width:95%;
min-height: 80vh;
background-color:var(--colorInicial);
padding:2em;
border-radius:50px;
position:relative;
}

.seccion_nosotros{
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("/Imagenes/Quienes_Somos/Imagenes/neon.jpg");
background-size:cover;
background-repeat:no-repeat;
}

.ultima_parte{
background-color:var(--colorInicial);
}


.imagen_dev{
object-fit:cover;
mask-image: linear-gradient(black 80%, transparent);
}

.developer{
    background-color:rgba(255, 255, 255, 0.9);
    max-width:420px;
    margin: 1em;
    display:flex;
    padding:1em;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius:5%;
    box-shadow:0 10px 25px var( --colorBlancoSuave);
}


.descripcion{
border-top:2px solid var(--colorTextoNegro);
}

.objetivo,.titulo_seccion_nosotros{
color:var(--colorTextoBlanco);
}

.titulo_seccion_nosotros h2{
    font-size:3em;
    margin-top: 4em;
    font-weight: bold;
    text-transform: capitalize;
}


img{
    max-width:100%;
    height:auto;
}

.video_container{
    position:relative;
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
}

.btn_flecha_izqda{
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:50px;
    padding:1em;
    border-radius:100%;
    cursor:pointer;
    filter:invert(1) saturate(0) brightness(1.6);
}


.btn_flecha_dcha{
    position:absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
    display:flex;
    justify-content:end;
    width:50px;
    padding:1em;
    border-radius:100%;
    cursor:pointer;
    filter:invert(1) saturate(0) brightness(1.6);
}

.btn_flecha_dcha:hover,.btn_flecha_izqda:hover{
    transform:translateY(-50%) scale(1.3);
    transition:transform 0.3s ease-in-out;
}



/*Media Query para pantallas grandes*/
@media (min-width:1320px){
.parte1_texto{
    font-size:1.5em;
}

.objetivo{
font-size:1.5em;
}

.titulo_seccion_nosotros h2{
    font-size:3em;
    margin-top: 2em;
    font-weight: bold;
    text-transform: capitalize;
}

}

/*Media Query para tablets*/
@media (min-width:768px) and (max-width:1023px) {

    .developer {
            width: 40%;
            max-width: 250px;
            height: 400px;
            margin: 1em;
            margin-bottom: 5vh;
        }
    
        .titulo_seccion_nosotros h2 {
            font-size: 2em;
            margin:3em;
        }

        .seccion-quienes-somos{
        width:92%;
        min-height: 80vh;
        }

        .seccion-quienes-somos h3{
        font-size:2em;
        }
        .seccion-quienes-somos p,.seccion-quienes-somos ul>li{
        font-size:1.4em;
        }
}

/*Media Query para móvil*/
@media (max-width:767px) {
    
    .titulo_seccion_nosotros h2 {
        font-size: 2em;
        margin-top: 2em;
        margin-bottom: 1em;
    }

    .developer{
    max-width:320px;
    }

    .seccion-quienes-somos{
    width:95%;
    min-height: 85vh;
    padding-left:2.2em;
    }

    
    .seccion-quienes-somos p{
        font-size:0.9em;
    }

    .seccion-quienes-somos h3{
        font-size:1.2em;
        padding-top:1em;
    }
}


/*Media Query para Pantallas estilo portátil*/
@media (min-width:1024px) and (max-width:1365px){

.developer{
    width: 40%;
    max-width:250px;
    height:400px;
    margin:1em;
    margin-bottom:5vh;
}

.titulo_seccion_nosotros h2 {
    font-size: 2em;
    margin-top: 1em;
}

.seccion-quienes-somos{
width:95%;
min-height: 72vh;
padding-left:4em;
padding-top:2em;
}
}


