/*Propiedades del carusel de manos*/
.carusel{
position:relative;
width: 100%;
height: 18vh;
overflow:hidden;/*Ocultamos lo que sobresale*/
background-color: var(--colorInicial);
/*Agregamos opacidad a la entrada y salida del carrusel para ese efecto del carrusel*/
mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
);
}

/*Propiedades del div padre de las cartas*/
.grupo{
display: flex;
margin-bottom: 1em;
width:max-content;
animation: slider 40s linear infinite;/*Agregamos animación*/
}

/*Estilos de las cartas*/
.carta{
margin: 1em;
color: var(--colorTextoBlanco);
width:auto !important;
height: 12vh !important;
position: relative;
filter:contrast(60%);
}
/*Animación Carrusel*/
@keyframes slider{
    0%{transform:translateX(0%);}
    100%{transform: translateX(-50%)}
}

/*Media Query para Tablets*/
@media (min-width:768px) and (max-width:1023px){

    /*Propiedades del div de carusel para tablets*/
    .carusel{
    height: 12vh;
    }
    /*Alto y ancho de las cards*/
    .carta{
    height:8vh !important;
    }

}

/*Media Query para pantallas más grandes*/ 
@media (min-width:1366px){
    .carta{
    width:120px;
    height:90px;
    }
    .carusel{
    height: 15vh;
    }
}

/*Media Query para Pantallas parecida a los portatiles*/
@media (min-width:1024px) and (max-width:1365px){
.carta{
width:90px;
height:90px;
}
.carusel{
height: 18vh;
}
}

