/*Ubicacion del contenedor del registro para crear cuenta*/
.registro_seccion{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorInicialOpaco);
}

/*Ubicacion del formulario del registro para crear cuenta*/
.formulario{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1em;
padding: 3em;
border-radius: 10px;
background: var(--colorInicial);
}

/*linea separación*/
hr{
    border: 1px solid var(--colorBlancoSuave);
}

/*Estilo para el titulo del registro*/
.formulario h1{
font-size: 2em !important;
color: var(--colorTextoBlanco);
}
/*Texto color*/
.formulario p{
color: var(--colorTextoBlanco);
}
/*Margenes y paddings para los input*/
form input{
margin-top: 0.5em;
padding: 0.5em;
}
/*Ubicacion del logo de la página*/
.logo_registro{
    object-fit:contain;
    margin:1em;
}

/*Distribución del logo y botón para volver al inicio*/
.parte_superior{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    flex-wrap:wrap;
    margin-top:1em;
}

/*Establecemos la imagen como relative para que se adapten los botones y el logo*/
.imagenes_registro {
position:relative;
}
/*Estilos para el boton de volver*/
.volver{
    color: var(--colorTextoBlanco);
    text-decoration: none;
    background: var(--colorInicial);
    padding: 0.5em 1em;
    border-radius: 5px;
}

/*tamaño de la imagen*/
.imagenes_registro .imagen_registro{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

/*Capa oscura delante de la imagen*/
.imagenes_registro:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    background:var(--colorTextoNegro);
    width:100%;
    height:100%;
    opacity:0.4;
}
/*Estilos para mensajes de alerta*/
.mensaje{
    color:var(--colorTextoNegro) !important;
    width:84%;
    text-align:center;
}
/*Estilo para los botones de google y registrar*/
button{
    width: 100%;
    padding: 0.5em;
    background-color: var(--colorInicial);
    color: var(--colorTextoBlanco);
}

button:hover {
    background-color: var(--colorInicial);
    color: var(--colorTextoBlanco);
}

/*MEDIA QUERYS*/

/*Para pantallas grandes*/
@media (min-width:1024px) {
    /*Tamaño h1 fuente*/
    .formulario h1{
        font-size: 4em;
    }
}

/*Media query para pantallas móviles hasta 768px de ancho*/
@media (max-width:768px) {

.inicio_registro img{
width: 100%;
height: 50vh; 
}

.formulario h1{
font-size:2em ;
}

.formulario{
margin:0;
width:100%;
max-width:600px;
}
}

/*Media query para pantallas como tablets*/
@media (min-width:768px) and (max-width:990px) {
.formulario h1{
font-size:2.5em !important;
}

.formulario{
margin:2em;
width:100%;
max-width:500px;
}
}


/*Media query para adaptar el registro a estos px el formulario*/
@media (min-width:990px) and (max-width:1023px) {
.formulario h1{
font-size:2em !important;
}

.formulario{
width:100%;
height:100vh;
}
}

/*Media query para pantallas móviles*/
@media (max-width:576px) {
.inicio_registro img{
width: 100%;
height: 50vh; 
}
.formulario h1{
font-size:1.5em !important;
}
.formulario p{
font-size:0.8em !important;
}
.formulario{
margin:0;
width:100%;
height:100vh;
}
}

/*Media Query para Pantallas estilo portátil*/
@media (min-width:1024px) and (max-width:1365px){
.formulario{
margin:0;
width:100%;
height:100vh;
}
}












